

/* untuk tablet */
@media(max-width: 1000px) {
	.lesson {
		width: 50%;
		margin-bottom: 50px;
		float: left;

	}
}




/* untuk smartphone */
@media(max-width: 700px) {


	.lesson {
		width: 100%;
		float: left;
	}

	.top-wrapper {
		text-align: left;
	}

	.top-wrapper h1 {
		font-size: 24px;
		line-height: 38px;

	}

	.header-right {
		display: none;
	}

	.menu-icon {
		display: block;
	}

	.top-wrapper p {
		font-size: 12px;
		line-height: 20px
	}

	.btn {
		width: 100%;
	}
	.facebook {
		margin-bottom: 10px;
	}

	.btn-wrapper p {
		text-align: center;
	}

	.heading h2 {
		font-size: 20px;
	}

	.heading h3 {
		font-size: 18px;
	}

	footer {
		text-align: center;
	}
}
